apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "1"
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"apps/v1","kind":"Deployment","metadata":{"annotations":{},"labels":{"app":"learning-app"},"name":"learning-deployment","namespace":"default"},"spec":{"replicas":3,"selector":{"matchLabels":{"app":"learning-app"}},"template":{"metadata":{"labels":{"app":"learning-app"}},"spec":{"containers":[{"env":[{"name":"ENVIRONMENT","value":"production"}],"image":"nginx","name":"learning-container","ports":[{"containerPort":8080}],"resources":{"limits":{"cpu":"1","memory":"512Mi"},"requests":{"cpu":"500m","memory":"256Mi"}}}]}}}}
  creationTimestamp: "2026-01-01T11:02:38Z"
  generation: 2
  labels:
    app: learning-app
  name: learning-deployment
  namespace: default
  resourceVersion: "3328844"
  uid: 52de58a4-2b53-41c1-be4c-fa9711f96a2f
spec:
  progressDeadlineSeconds: 600
  replicas: 5
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: learning-app
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: learning-app
    spec:
      containers:
      - env:
        - name: ENVIRONMENT
          value: production
        image: nginx
        imagePullPolicy: Always
        name: learning-container
        ports:
        - containerPort: 8080
          protocol: TCP
        resources:
          limits:
            cpu: "1"
            memory: 512Mi
          requests:
            cpu: 500m
            memory: 256Mi
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
status:
  availableReplicas: 5
  conditions:
  - lastTransitionTime: "2026-01-01T11:02:38Z"
    lastUpdateTime: "2026-01-01T11:02:42Z"
    message: ReplicaSet "learning-deployment-78647d89d7" has successfully progressed.
    reason: NewReplicaSetAvailable
    status: "True"
    type: Progressing
  - lastTransitionTime: "2026-01-01T11:06:02Z"
    lastUpdateTime: "2026-01-01T11:06:02Z"
    message: Deployment has minimum availability.
    reason: MinimumReplicasAvailable
    status: "True"
    type: Available
  observedGeneration: 2
  readyReplicas: 5
  replicas: 5
  updatedReplicas: 5
