apiVersion: v1
kind: ReplicationController 
metadata:
  name: nginx-rs
  labels:
    env: demo 
spec:
  template:
    metadata:
      labels:
        env: demo
      name: nginx
    spec: 
      containers:
      - image: nginx
        name: nginx
  replicas: 3