apiVersion: v1
kind: Service
metadata:
  name: external
spec:
  selector:
   app: nginx
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 80 # the final target of the traffic inside the pod
  externalIPs:
    - 198.51.100.32